body {
  margin: 0;
}

.grid-container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto auto auto auto;
  padding: 11px 150px;
}

.grid-header-container {
  display: grid;
  grid-template-columns: 10fr 15fr auto 15fr 10fr;
  /* background-color: #c9d1f5; */
  padding: 10px;
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.justify-left {
  text-align: left;
}

.justify-end {
  text-align: right;
}

.justify-center {
  text-align: center;
}

.timer {
  color: #5168e9;
  font-size: 20px;
  font-weight: bold;
}

.restart-button {
  width: 15em;
  height: 3em;
  color: white;
  background-color: #5168e9;
  border: 0;
}

.game-status-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(24, 21, 16);
  margin-top: 20px;
  font-weight: bold;
}

.card {
  border-radius: 10px;
  width: 100%;
  height: 10em;
  background-color: rgb(75, 42, 165);
  color: white;
  font-size: 15px;
}

.hide-card {
  visibility: hidden;
}

.card-front {
  background-color: #8bc34a;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  background: url(../assets/card_back.jpg);
}

.card-back {
  background-color: #ffeb3b;
  font-weight: bold;
  position: absolute;
  /* box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6); */
}
/* fix card position when flipping */
.single_card {
  height: 150px;
}
.indigo {
  /* margin-left: 50%; */
  background-color: #2d275f;
}
.nav-link {
  font-size: 25px;
  color: white;
}
.score {
  color: #f53218;
  font-size: 16px;
  font-weight: bold;
}
.logo {
  /* float: left; */
  width: 20vw;
  margin: 12px;
}
.masthead > .container {
  padding: 0;
  margin: 0;
}
.slider {
  width: 100vw;
}

p.slogan {
  width: 60%;
  margin: auto;
}
.hr_button_wrapper {
  text-align: center;
}
.hr_button {
  background-color: #157d44;
  width: 330px;
  height: 3px;
  border: 0;
}
.header_about_us {
  font-weight: 500;
  line-height: 1.1;
  font-size: 2.5rem;
  margin: 0;
}
.about_us_container {
  margin-top: 20px;
}
.about_us_tasble {
  margin: auto;
}
.about_us_table img {
  width: 70px;
  height: 70px;
  padding: 8px;
}
.about_us_name {
  font-size: 10px;
}
.restart-button {
  background-color: white;
  border: 0;
  margin-top: 20px;
}
.img_restart {
  width: 50px;
  height: 50px;
}

.restart-button:focus {
  outline: none;
}
.margin-bottom-zero p {
  margin-bottom: 0;
}

